@model RegisterVM
@{
    ViewData["Title"] = "Register";
}


<div class="alert alert-danger" asp-validation-summary="ModelOnly">
    
</div>
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Register</p>
        </div>

        <form class="form-content" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="FirstName" id="firstname" class="form-control" placeholder="FirstName"  /> <br />
                        <span class="text text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <input id="username" asp-for="UserName" class="form-control" placeholder="UserName" /><br />
                        <span class="text text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <input id="email" asp-for="Email" class="form-control" placeholder="Your Email" /><br />
                        <span class="text text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input id="password" asp-for="Password" class="form-control" placeholder="Your Password" /><br />
                        <span class="text text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <input id="confirmpassword" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" /><br />
                        <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <input id="terms" asp-for="Terms" />
                    <label>Terms</label> <br />
                    <span class="text text-danger" asp-validation-for="Terms"></span>
                </div>
            </div>
            <button id="button" style="outline:none" type="submit" class="btnSubmit btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">

    var button = document.getElementById('button');
    button.addEventListener('click', function(e){
        e.preventDefault();
        var firstname = document.getElementById('firstname').value;
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var confirmpassword = document.getElementById('confirmpassword').value;
        var terms = document.getElementById('terms');
        
        
        console.log(document.getElementById('terms').checked)
        if(firstname == ""){
            
        }
        
    })
    

</script>








